asgiref==3.5.2
autopep8==1.6.0
backports.zoneinfo==0.2.1
certifi==2022.6.15
Django==4.1
elasticsearch==7.17.4
elasticsearch-dsl==7.4.0
mysqlclient==2.1.1
pycodestyle==2.8.0
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
urllib3==1.26.11
